{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "process": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "@typescript-eslint",
    "react-hooks"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "semi": 1,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".tsx", ".ts"]
      }
    ],
    "import/no-unresolved": ["error", { "ignore": ["^react$", "csstype"] }],
    "@typescript-eslint/no-angle-bracket-type-assertion": 0,
    "@typescript-eslint/indent": ["error", 2]
    // "@typescript-eslint/explicit-function-return-type": {
    //   "allowExpressions": true
    // }
  },
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
